<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/wstyle.css">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Jaini+Purva&family=Sevillana&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="/javascripts/logic.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Junge&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="heading">
            <ol class="licontent">
                <li class="litems"><a href="/">Home</a></li>
                <li class="litems"><a href="/about">About</a></li>
                <li class="litems"><a href="/contact">Contact</a></li>
            </ol>
        </nav>
    </header>
    <div class="mainbox">
        <div class="navpanel">
            <div class="arrow">
                <i class="fi fi-rr-angle-circle-right"></i>
            </div>
            <div class="panel">
                <div class="panelitem">
                    <img src="/images/user.png" alt="" class="favicons"><a href="/about">Profile</a>
                </div>
                <div class="panelitem"><img src="/images/arrow-trend-up.png" alt="" class="favicons"><a href="/expeemusic">Latest</a></div>
                <div class="panelitem"><img src="/images/linkedin.png" alt="" class="favicons"><a href="/socials">Social</a></div>
                <div class="panelitem"><img src="/images/info.png" alt="" class="favicons"><a href="/about">About</a></div>
            </div>

        </div>
        <div class="contentbox">
            <div class="hindi">
                Namaskaaram
            </div>
            <div class="english">
                Hello
            </div>
            <div class="french">
                Bonjour
            </div>
            <div class="name">
                <div class="firstname">Anubhav</div>
                <div class="lastname">Mishra</div>
            </div>
            <div class="pdetails">
                <h1 style="color: azure;">I'm a</h1>
                <span class="type-text"></span>
            </div>
            <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
            <script>
                var typed=new Typed('.type-text',{
                    strings: ["Web Developer ","Music Producer","Programmer"],
                    typeSpeed : 125 ,
                    backSpeed : 125 ,
                    loop : true 
                });
            </script>
        </div>
        <div class="daynight">
            <div class="day"><img src="/images/moon-stars.png" alt="" class="favicons"></div>
        </div>





    </div>



</body>

</html>