<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/originals.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <nav>
            <ul class="navlist">
                <li class="litem"><a href="/">Home</a></li>
                <li class="litem"><a href="/about">About</a></li>
                <li class="litem"><a href="/contact/<%=name%>">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="mainbox">
        <div class="greeting">
            Hello <%=name%> 
        </div>
        <div class="contentbox">
            <div class="contentbar">
                <div class="contentitem">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7BzHtd7MQq5O2TNc4EXr3X?utm_source=generator" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
                <div class="contentitem">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3cZApOTcDIBYHrz7EMRq2a?utm_source=generator" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
                <div class="contentitem">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ybxwJSrsiHgUG1MjBHWgJ?utm_source=generator" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            

            </div>
            <div class="contentintro">
                <img src="/images/ExPee-removebg-preview.png" alt="" id="Admin">
                <div class="admindetail">
                    "The world never waits for anyone" someone said it , to be honest I don't remember him/her , but this phrase imparted a deeper meaning to my journey , so here's a Glimpse how ExPee started his journey . Year 2018 brought a revolution in hip hop industry in India , many new underground artists got recognition and many dreamt to be one of them , so did the ExPee , starting the journey from writing then moving on to recording in a small wardrobe , ExPee went all the way to produce the music , and further aims to bring out new compositions to channelize the hope of hip hop into blissful melodies .
                </div>
            </div>
            
            
        </div>
    </div>
    
</body>
</html>