<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profilestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Junge&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navhead">
        <nav>
            <ul class="navlist">
                <li class="litem"><a href="/">Home</a></li>
                <li class="litem"><a href="/about">About</a></li>
                <li class="litem"><a href="/socials">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="maincontent">
        <div class="navpanel">
            <div class="panel">
                <div class="panelitem">
                    <img src="/images/user.png" alt="" class="favicons"><a href="/about">Profile</a>
                </div>
                <div class="panelitem"><img src="/images/arrow-trend-up.png" alt="" class="favicons"><a href="/expeemusic">Latest</a></div>
                <div class="panelitem"><img src="/images/linkedin.png" alt="" class="favicons"><a href="/socials">Social</a></div>
                <div class="panelitem"><img src="/images/info.png" alt="" class="favicons"><a href="/about">About</a></div>
            </div>
        </div>
        <div class="biodata">
            <div class="welcome">
                <div class="profile">Profile</div>
            </div>
            <div class="about">
                <div class="intro">
                    <div class="intropic"><img src="/images/Profilepic.jpeg" alt="">
                    </div>
                    <div class="introdet">
                        <b id="admin">Anubhav Mishra</b>
                        <br>
                        <br>

                        Based in Delhi, I am a passionate web developer with a deep interest in technology. I also
                        create music at an industrial level; you can listen to my tracks under the name ExPee on
                        Spotify. Known for my strong work ethic, determination, and enthusiasm, I am dedicated to
                        pushing the limits in my field. In my free time, I enjoy mimicry as a fun hobby.
                        <br>
                        Feel Free to Connect with me for the projects best suitable for my profile , Best work along
                        with prolong methodologies is Guaranteed .



                    </div>

                </div>
                <div class="details">
                    <div class="nametitle">
                        <div class="namedetail"> Name </div>
                        <div class="namedetail"> DOB </div>
                        <div class="namedetail"> Education </div>
                    </div>
                    <div class="namedes">
                        <div class="description">Anubhav Mishra</div>
                        <div class="description">15<sup>th</sup> December , 2005</div>
                        <div class="description">Btech SE Dtu 27 8Cgpa <div>Class 12th 91.2% </div><div>Class 10th 94.6 </div><div>Rosary senior secondary School</div></div>
                    </div>
                </div>
                <div class="links">
                    <div class="linkitem"><a href="/socials"><img src="/images/linkedin.png" alt="" class="favicons"></a></div>
                    <div class="linkitem"><a href="/socials"><img src="/images/github.png" alt="" class="favicons"></a></div>
                    <div class="linkitem"><a href="/socials"><img src="/images/instagram.png" alt="" class="favicons"></a></div>
                    <div class="linkitem"><a href="/socials"><img src="/images/twitter-alt.png" alt="" class="favicons"></a></div>
                </div>
            </div>
        </div>

        <div class="daynight">
            <div class="day"><img src="/images/sun.png" alt="" class="favicons"></div>
        </div>

    </div>


</body>

</html>